<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/perfilPacientes.css">
</head>
<body>
    <header>

        <section class="titulo-header">
            <h1>VETCONT</h1>
        </section>
        <section class="opciones-header">
            <button id="volver"><i class="fa-solid fa-arrow-left"></i> Volver</button>
        </section>

    </header>
    
    <main>

        <section class="mostrar-perfil">
    
            <section class="bloque">
                <div class="tabla-pacientes" id="tabla-pacientes">
                    <h1>Tabla de pacientes</h1>
                    <p class=""><i class="fa-solid fa-bell"></i> Seleccion un paciente para ver mas infromacion...</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Propietario</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <% datos_pacientes.forEach(dato => { %>
                                    <tr class="linea-tabla" >
                                        <td><%= dato.tb_pacientes_col_nombre %></td>
                                        <td><%= dato.tb_propietarios_col_nombre %></td>
                                    </tr>
                                <% }); %>
                            
                        </tbody>
                    </table>
                </div>
    
                <div class="ver-informacion">
                    <div class="opciones">
                        <button id="mostrarInformacionGeneral">Informacion general <i class="fa-solid fa-caret-down"></i></button>
                        <button id="mostrarInformacionConsultas">Consultas <i class="fa-solid fa-caret-down"></i></button>
                        <button id="mostrarInformacionVacunacion">Vacunación <i class="fa-solid fa-caret-down"></i></button>
                        <button id="mostrarinformacionPropietario">Datos propietario <i class="fa-solid fa-caret-down"></i></button>

                    </div>
                    
                    <div class="informacion-general" id="informacionGeneral">
                        <h1>Informacion General</h1>

                        
                        <div class="bloque">
                            
                            <div class="divicion">
    
                                <div class="dato-infromacion">
                                    <label for="nombreMascota">Nombre Paciente: </label>
                                    <input type="text" name="nombreMascota" id="nombreMascota" disabled>                                
                                </div>
                                <div class="dato-infromacion">
                                    <label for="tipoMascota">Tipo</label>
                                    <input type="text" name="tipoMascota" id="tipoMascota" disabled>
                                </div>
                                <div class="dato-infromacion">
                                    <label for="razaMascota">Raza</label>
                                    <input type="text" name="razaMascota" id="razaMascota" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="fechaNacimiento">Fecha Naciemiento</label>
                                    <input type="text" name="fechaNacimiento" id="fechaNacimiento" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="sexoMascota">Sexo</label>
                                    <input type="text" name="sexoMascota" id="sexoMascota" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="colorMascota">Color</label>
                                    <input type="text" name="colorMascota" id="colorMascota" disabled>
                                </div>
    
                            </div>
                            <div class="divicion">
    
                                <div class="dato-informacion">
                                    <label for="castradoMascota">Castrado</label>
                                    <input type="text" name="castradoMascota" id="castradoMascota" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="edadMascota">Edad</label>
                                    <input type="text" name="edadMascota" id="edadMascota" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="cantidadPartos">Partos</label>
                                    <input type="text" name="cantidadPartos" id="cantidadPartos" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="fechaPartos">Fecha de Partos</label>
                                    <input type="text" name="fechaPartos" id="fechaPartos" disabled>
                                </div>
                                <div class="dato-informacion">
                                    <label for="pesoMascota">Peso</label>
                                    <input type="text" name="pesoMascota" id="pesoMascota" disabled placeholder="Kg">
                                </div>
                                <div class="dato-informacion">
                                    <label for="ultimaConsulta">Ultima Consulta</label>
                                    <input type="text" name="ultimaConsulta" id="ultimaConsulta" disabled>
                                </div>
    
                            </div>
    
                        </div>

                        

                    </div>
                    
                    <div class="informacion-consultas" style="display: none;" id="informacionConsultas">
                        <h1>Informacion de consultas</h1>

                        <div class="informacion">
                            <table id="tabla-resultados-consultas">
                                <thead>
                                    <tr>
                                        <th>Fecha de consulta</th>
                                        <th>Motivo de consulta</th>
                                        <th>Tratamiento</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="informacion-vacunacion" id="informacionVacunacion" style="display: none;">
                        <h1>Informacion Vacunacion</h1>
                        <div class="informacion">
                            <table id="tabla-resultados-vacunacion">
                                <thead>
                                    <tr>
                                        <th>Fecha de consulta</th>
                                        <th>Programa de Desparacitacion</th>
                                        <th>Programa vacunacion</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="informacionPropietario" id="informacionPropietario" style="display: none;">
                        <h1>Informacion Propierario</h1>
                        <div class="dato-informacion">
                            <label for="nombrePropietario">Nombre Propierario</label>
                            <input type="text" name="nombrePropietario" id="nombrePropietario" disabled>
                        </div>
                        <div class="dato-informacion">
                            <label for="cedulaPropietario">Cedula</label>
                            <input type="text" name="cedulaPropietario" id="cedulaPropietario" disabled>
                        </div>
                        <div class="dato-informacion">
                            <label for="diereccionPropietario">Direccion</label>
                            <input type="text" name="diereccionPropietario" id="diereccionPropietario" disabled>
                        </div>
                        <div class="dato-informacion">
                            <label for="telefonoPropietario">Telefono</label>
                            <input type="text" name="telefonoPropietario" id="telefonoPropietario" disabled>
                        </div>
                        <div class="dato-informacion">
                            <label for="correoElectronico">Correo Electronico</label>
                            <input type="text" name="correoElectronico" id="correoElectronico" disabled>
                        </div>
                    </div>
                </div>
            </section>
            
        </section>

        
    </main>

    <footer>

    </footer>

    <script src="js/perfilPacientes_navegacion.js"></script>
    <script src="js/perfilPacientes_AJAX.js"></script>

    <script src="js/main.js"></script>

</body>
</html>