<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="styles/registroPaciente.css">
</head>
<body>
    <header>

        <section class="titulo-header">
            <h1>VETCONT</h1>
        </section>
        <div id="alert-container" style="display:none;">
            <div id="alert-message" class="alert-message">
              <span id="alert-icon"></span>
              <span id="alert-text"></span>
            </div>
          </div>
          
        <% if (alert) { %>
            <div id="alert-data" 
                 data-message="<%= alert.message %>" 
                 data-type="<%= alert.type %>" 
                 style="display:none;"></div>
          <% } %>
        <section class="opciones-header">
            <button id="volver"><i class="fa-solid fa-arrow-left"></i> Volver</button>
        </section>



    </header>
    
    <main>

        <section class="formulario-registro">
            
            
            <section class="tipo-registros">

                <div class="lista-propietarios">
                    <h1>Registrar nuevo paciente</h1>
                    <p>!!! Nota: Para registra una nueva mascota, primero debe estar listo el registro del propietario !!!</p>
        

                    <table id="tabla" class="tabla">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Propietario</th>
                            </tr>
                        </thead>
                        <tbody>

                            <% datos_pacientes.forEach(dato => { %>
                                <tr class="linea-tabla">
                                    <td><%= dato.tb_propietarios_col_cedula %></td>
                                    <td><%= dato.tb_propietarios_col_nombre %></td>                                
                                </tr>
                            <% }); %>
                            
                        </tbody>
                    </table>
                </div>

                <div class="formularios">

                    <div class="opciones-navegacion">
                        <button type="button" id="btn-mostrarRegistroPropietario" class="btn-mostrarRegistroPropietario">Nuevo Propietario <i class="fa-solid fa-user-plus"></i> </button>
                        <button type="button" id="btn-mostrarRegistroPaciente" class="btn-mostrarRegistroPaciente">Nueva Mascota <i class="fa-solid fa-stethoscope"></i> </button>
                    </div>
    
                    <div class="registroPropietario" id="registroPropietario">
    
                        <form action="/registrarPropietario" method="POST" autocomplete="off">
                            <h3>Datos Propietario</h3>
                            <div class="datos">
                                <label for="cedulaPropietario">Escribe cedula del propietario</label>
                                <input type="number" name="cedulaPropietario" id="cedulaPropietario" placeholder="Cedula del propietario..." required autocomplete="off"> 
                            </div>
                            <div class="datos">
                                <label for="nombrePropietario">Escribe nombre del propietario</label>
                                <input type="text" name="nombrePropietario" id="nombrePropietario" placeholder="Nombre del propietario..." required autocomplete="off">
                            </div>
                            <div class="datos">
                                <label for="direccionPropietario">Escribe la direccion del propietario</label>
                                <input type="text" name="direccionPropietario" id="direccionPropietario" placeholder="Direccion del propietario..." required autocomplete="off">
                            </div>
                            <div class="datos">
                                <label for="telefonoPropietario">Escribe el telefono del propietario</label>
                                <input type="number" name="telefonoPropietario" id="telefonoPropietario" placeholder="Telefono del propietario..." required autocomplete="off">
                            </div>
                            <div class="datos">
                                <label for="correoPropietario">Escribe correo electronico del propietario</label>
                                <input type="email" name="correoPropietario" id="correoPropietario" placeholder="Correo electronico del propietario..." required autocomplete="off">
                            </div>
                         
                            <button type="submit" class="btn-guardardatos btn-guardarDatosPropietario">Guardar</button>
                            <button type="button" class="btn-cancelardatos" id="cancelardatos-propietarios"><i class="fa-solid fa-newspaper"></i> Limpiar Formulario</button>
                        </form>
                    </div>
    
                    <div class="registroPaciente" id="registroPaciente">
    
                        <form action="/registrarMascota" method="POST" autocomplete="off">
                            <h3>Datos Mascota</h3>
                            <div class="datos">
                                <label for="nombreMascota">Escribe nombre de la mascota: </label>
                                <input type="text" name="nombreMascota" id="nombreMascota" placeholder="Nombre de la mascota" required>
                            </div>
                            <div class="datos">
                                <label for="tipoMascota">Selecciona tipo de mascota: </label>
                                <select name="tipoMascota" id="tipoMascota" required>
                                    <option value="Canino">Canino</option>
                                    <option value="Felino">Felino</option>
                                </select>
                            </div>
                            <div class="datos">
                                <label for="pesoMascota">Escribe el peso de la mascota: </label>
                                <input type="number" name="pesoMascota" id="pesoMascota" placeholder="Solamente escribe el peso de la mascota..." required>
                            </div>
                            <div class="datos">
                                <label for="fechaNacimientoMascota">Escribe fecha de naciemiento de la mascota:</label>
                                <input type="date" name="fechaNacimientoMascota" id="fechaNacimientoMascota" required>
                            </div>
                            <div class="datos">
                                <label for="edadMascota">Edad exacta de la mascota: </label>
                                <input type="number" step="0.1" min="0" name="edadMascota" id="edadMascota" placeholder="Automatico...">
                            </div>
                            <div class="datos">
                                <label for="razaMascota">Escribe la raza de la mascota: </label>
                                <input type="text" name="razaMascota" id="razaMascota" placeholder="Raza de mascota..." required>
                            </div>
                            <div class="datos">
                                <label for="castracionMascota">Selecciona si las mascota es castrada o no</label>
                                <select name="castracionMascota" id="castracionMascota" required>
                                    <option value="No">No esta castrada</option>
                                    <option value="Si">Si esta castrada</option>
                                </select>
                            </div>
                            
                            <div class="datos">
                                <label for="colorMascota">Escribe el color de la mascota:</label>
                                <input type="text" name="colorMascota" id="colorMascota" placeholder="Color de mascota..." required>
                            </div>
                            <div class="datos">
                                <label for="partosMascota">Escribe la cantidad de partos de la mascota: </label>
                                <input type="text" name="partosMascota" id="partosMascota" placeholder="Partos de mascota...">
                            </div>
                            <div class="datos">
                                <label for="fechaPartosMascota">Escribe fecha de los partos de la mascota:</label>
                                <input type="date" name="fechaPartosMascota" id="fechaPartosMascota">
                            </div>
                            <div class="datos">
                                <label for="sexoMascota">Escribe el sexo de la mascota:</label>
                                <input type="text" name="sexoMascota" id="" placeholder="Color de mascota..." required>
                            </div>
                            <div class="datos">
                                <label for="cedulaPropietarioMascota">Cedula de propietario:</label>
                                <input type="number" name="cedulaPropietarioMascota" id="cedulaPropietarioMascota" placeholder="Cedula del propietario..." required>
                            </div>
                            
                            <button type="submit" class="btn-guardardatos btn-guardarDatosMascota">Guardar</button>
                            <button type="button" class="btn-cancelardatos" id="cancelardatos-mascotas"><i class="fa-solid fa-newspaper"></i> Limpiar Formulario</button>

                        </form>
                        
                    </div>

                </div>
                
                
            </section>

        </section>

    </main>

    <footer>

    </footer>

    <script src="js/regPacientes_navegacion.js"></script>
    <script src="js/regPacientes_mostrarDatosTablas.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>