@import url(main.css);

.bloque{
    display: flex;
    justify-content: space-between;
}
.bloque .lista-pacientes{
    width: 30%;
    background-color: white;
    padding: 1%;
    margin: 1%;
}

.bloque .tipo-consulta{
    width: 70%;
    background-color: white;
    padding: 1%;
    margin: 1%;
}

.motivo-consulta .añadirCostosGeneral, .motivo-consulta .añadirCostosVacunacion{
    width: 50%;
    padding: 0.5%;
}
.motivo-consulta .costosGeneral {
    width: 90%;
}
.motivo-consulta #form-costosGeneral{
    display: none;
}

@media screen and (max-width:900px){
    .bloque{
        display: block;
    }
    .bloque .lista-pacientes{
        width: 90%;
    }
    .bloque .tipo-consulta{
        width: 90%;
    }
    
}
/* ----------------------------------------------------- */

#formulario-vacunas{
    display: none;
}
#form-costosVacunacion{
    display: none;
}



/* ----------------------------------------------------- */

