@import url(main.css);



.mostrarTablas{
    background-color: white;
    margin: 1%;
    padding: 1%;
    min-height: 70vh;
    max-height: 100%;
}
.mostrarTablas .navegacion{
    text-align: end;
}
.tipoconsulta .consultageneral, .tipoconsulta .consultavacunacion{
    width: 100%;
    text-align: center;
}
.consultageneral .peso, .consultageneral .precio{
    min-width: 70px;
}
.consultageneral .fecha, .consultageneral .paciente, .consultageneral .propietario{
    min-width: 100px;
}
.consultageneral .tratamiento{
    min-width: 200px;
}
#consultavacunacion{
    display: none;
}

