@import url(main.css);



.mostrarTablas{
    background-color: white;
    margin: 1%;
    padding: 1%;
    min-height: 70vh;
    max-height: 100%;
}
.mostrarTablas .navegacion{
    text-align: end;
}
.tipoconsulta .consultageneral, .tipoconsulta .consultavacunacion{
    width: 100%;
    text-align: center;
}
.consultageneral .fecha, .consultageneral .propietario{
    min-width: 200px;
}
.consultageneral .costoConsulta, .consultageneral .pesoConsulta{
    min-width: 200px;
}
.consultageneral .paciente{
    min-width: 100px;

}
#consultavacunacion{
    display: none;
}

