
@import url(main.css);

header{
    padding: 2% 1% !important;
}
main{
     background: linear-gradient(135deg, #47839d, #828c91);
}

.bienvenida{
    min-height: 110vh;
    max-height: 100%;
    background-image: url(../images/karsten-winegeart-loJL4ijUobg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: -1%;
}
.bienvenida .presentacion{
    background-color: rgba(0, 0, 0, 0.393);
    backdrop-filter: blur(5px);
    min-height: 110vh;
    max-height: 100%;
    color: white;
    padding: 0.4% 2%;

    align-content: center;
}
.presentacion .titulo{
    font-size: 15vh;
}
.presentacion .subtitulo{
    font-size: 3vh;
}

.presentacion .opciones button{
    padding: 1% 2%;

    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: linear-gradient(1deg, #005681, #2b7595);

}



/* https://unsplash.com/es/fotos/perro-de-pelo-corto-blanco-y-negro-con-camisa-de-lunares-blanca-y-negra-loJL4ijUobg
 */

.formulario-iniciosesion, .formulario-crearCuenta{

    margin: 2% 20%;
    background-color: rgba(255, 255, 255, 0.389);
    padding: 2%;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 10px black;
    display: none;
}
.formulario-iniciosesion input, .formulario-crearCuenta input{
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 1.5% !important;
    margin-bottom: 1.5%;
}

.formulario-iniciosesion .opciones-form{
    display: flex;
    align-items: center;
}

/*----------------------*/
@media screen and (max-width: 1500px){
    .bienvenida .presentacion{
        height: 99%;
    }
}
@media screen and (max-width:980px){

    .presentacion .titulo{
        font-size: 10.5vh;
    }
    
    .bienvenida{
    min-height: 100vh;
    max-height: 100%;
    }
    .bienvenida .presentacion{
    min-height: 100vh;
    max-height: 100%;
    }

}

@media screen and (max-width:700px){

    .presentacion .titulo{
        font-size: 8vh;
    }

}
@media screen and (max-width:600px){

    .presentacion{
        text-align: center;
        align-content: center;
    }
    .presentacion .titulo{
        font-size: 7vh;
    }
    .presentacion .opciones button{
        padding: 2.5% 3%;
    
    }
    .formulario-iniciosesion{

        margin: 2% 10%;
    }
    .formulario-iniciosesion input{
        padding: 3% 1.5% !important;
    
    }

}

.obtener{
    margin: 2% 1%;
    color: white;
}
.obtener .titulo{
    font-size: 7vh;
}
.obtener .subtitulo{
    font-size: 3vh;
}
.obtener form{
    margin: 1%;
    padding: 1%;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.081);
    box-shadow: 0px 0px 20px 2px black;
    border-radius: 10px;

    width: 95%;
    display: flex;
}
.obtener form input{
    padding: 1.5%;
}
.obtener form .bloque-uno{
    width: 70%;
}
.obtener form .bloque-dos{
    width: 30%;
    
}

@media screen and (max-width:700px){
    .obtener form{
        display: block;
        text-align: center;
    }
    .obtener form input{
        padding: 1.5%;

        width: 95%;
        border-radius: 5px;
        padding: 2%;
        margin: 1% 0%;
    }
    .obtener button{
        padding: 2% 10%;
    }
    .obtener form .bloque-uno{
        width: 100%;
    }
    .obtener form .bloque-dos{
        width: 100%;
    }
    .obtener form .bloque-dos{
        text-align: start;
    }
    
}