@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Outfit", sans-serif;
}

header{
    display: flex;
    padding: 1%;
    color: #40a2cb;
    align-items: center;
    justify-content: space-between;

}
header .bloque{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
header h1{
    font-weight: 400;
}
header .bloque .navegacion-header{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
header .bloque .navegacion-header a{
    color: #004d73;
    text-decoration: none;
}

header .opciones-header{
    width: 30%;
    text-align: end;
}
header .opciones-header button{
    padding: 2% 5%;
    background: linear-gradient(135deg, #dd8424, #aa5206);
}

@media screen and (max-width: 600px){
    header .bloque{
        display: block;
        width: 100%;
        text-align: center;
    }
    header .bloque .navegacion-header{
        width: 100%;
        text-align: center;
        display: block;
    }
    header .bloque .navegacion-header a{
        margin: 2%;
    }


}

main{
    /* background: linear-gradient(135deg, #2684ac, #135673); */
    background: linear-gradient(135deg, #184558, #031c27);

    min-height: 100vh;
    max-height: 100%;
    padding: 1%;
    display: block;

}




input, select,textarea{
    display: block;

    padding: 1% 1%;
    width: 90%;
    border-radius: 5px 20px 20px 5px;
    border: none;
    outline: none;
    background-color: #dedede;
    cursor: pointer;
}
@media screen and (max-width:900px){

    input, select,textarea{
        padding: 2% 1%;
    }

}
button{
    padding: 1% 2.5%;
    margin: 1% 0%;
    text-decoration: none;

    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background: linear-gradient(1deg, #005681, #2b7595);

}

@media screen and (max-width: 750px){

    button{
        padding: 2.5% 2.5%;
        margin: 1% 0%;
    
    }
    
}


button:active{
    background-color: #3e788e;
}

.scroll{
    max-height: 55vh;
    overflow-x: auto;
}
 table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
 table thead tr th{
    
    background: linear-gradient(1deg, #004d73, #296f8e);
    color: white;
    padding: 1%;
}
 table tbody tr td{
    padding: 2% 1%;
}
table tbody tr:nth-child(even){
    
    background-color: rgb(194, 194, 194);
}
table tbody tr:nth-child(odd){
    background-color: rgb(233, 233, 233);
}
table tbody tr:hover{
    background-color: #77afc5;
    cursor: pointer;
}


.btn-cancelardatos{
    background: linear-gradient(1deg, #9e0000, #d52700);
}
.btn-guardardatos{
    background: linear-gradient(1deg, #007816, #00ae14);
}


/* Estilo de contenedor de la alerta */
#alert-container {
    display: none; /* Se oculta por defecto */
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  /* Alerta de éxito */
  .success {
    background-color: #d4edda;
    color: #155724;
  }
  
  /* Alerta de error */
  .error {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  
  /* Estilo para el icono dentro de la alerta */
  #alert-icon {
    display: inline-block;
  }
  
  