@import url(main.css);


#registroPaciente {
    display: none; /* Oculto por defecto */
}


.formulario-registro{
    background-color: white;
    margin: 1%
}
.formulario-registro .tipo-registros{
    display: flex;
}

.tipo-registros .lista-propietarios{

    width: 28%;
    padding: 1%;
}
.tipo-registros .formularios{
    width: 70%;
    padding: 1%;
}
@media screen and (max-width: 1000px){

    .formulario-registro .tipo-registros{
        display: block;
    }
    .tipo-registros .lista-propietarios{
        width: 90%;
    }
    .tipo-registros .formularios{
        width: 100%;
    }

}