@import url(main.css);


.bloque{
    display: flex;
    justify-content: space-between;
}
.bloque .lista-pacientes{
    width: 30%;
    background-color: white;
    padding: 1%;
    margin: 1%;
}
.bloque .tipo-consulta{
    width: 70%;
    background-color: white;
    padding: 1%;
    margin: 1%;
}

.lista-pacientes .opciones{
    text-align: end;
}



@media screen and (max-width:900px){
    .bloque{
        display: block;
    }
    .bloque .lista-pacientes{
        width: 90%;
    }
    .bloque .tipo-consulta{
        width: 90%;
    }
}
/* ----------------------------------------------------- */

#formulario-vacunas{
    display: none;
}

.tipo-consulta .bloque{
    margin-top: 2%;
}
.tipo-consulta .bloque .vacunacion, .tipo-consulta .bloque .desparacitacion{
    width: 50%;
}

.btn-guardardatos{
    background-color: green;
}

.tipo-consulta .opciones .btn-mostrarconsultas:active , .tipo-consulta .opciones .btn-mostrarvacunas:active{
    background-color: #3e788e;

}
.btn-cancelardatos{
    background-color: red;
}
/* ----------------------------------------------------- */


.recordatorio-citas{
    padding: 1%;
    margin: 1%;
    background-color: white;
}