@import url(main.css);



.mostrar-perfil{
    background-color: white;
    min-height: 80vh;
    max-height: 100%;
    padding: 1%;
    margin: 1%;
}
.mostrar-perfil .tabla-pacientes{
    width: 25%;
}
.mostrar-perfil .boton button{
    padding: 0.5% 2%;
}
.mostrar-perfil .bloque{
    display: flex;
    justify-content: space-between;
}




.mostrar-perfil .ver-informacion{
    width: 70%;
}
.mostrar-perfil .ver-informacion .bloque{
    display: flex;
}
.mostrar-perfil .ver-informacion .bloque .divicion{
    width: 50%;
}
.mostrar-perfil .ver-informacion .bloque .divicion input{
    padding: 1.5%;
}

 


#datosPropietario{
    display: none;
}


@media screen and (max-width: 900px){
    .mostrar-perfil .bloque{
        display: block;
    }
    .mostrar-perfil .tabla-pacientes{
        width: 100%;
    }
    .mostrar-perfil .ver-informacion{
        width: 100%;
    }
    
    
}
@media screen and (max-width: 900px){
    
    .ver-informacion .opciones button{
        display: block;
    }
    
}


